.container_menu::-webkit-scrollbar {
    width: .7em;
}

 
.container_menu::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.container_menu {
	border: 1px solid lightgray;
	background: white;
	color: black;
    height: 100%;
	position: fixed;
	left: 0px;
	width: 12%;
	overflow-y: scroll;
}

.container_content {
	color: black;
    height: 100%;
	margin-left: 12%;
	width: 88%;
	padding-top: 15px;
}

.member_avatar img{
	width: 75%;
	margin-top: 10px;
}

.main_buttons{
	margin: 15px auto;
}

.main_buttons button{
	width: 40%;
    font-weight: 300;
    font-size: 8pt;
    margin-left: 6%;
}

.main_menu ul{
	padding: 0;
	width: 100%;
	text-align: center;
}

.main_menu ul li{
    width: 90%;
    margin: 5px auto;
}
.main_menu ul li button{
    width: 100%;
}